@import '../../../../_colors.scss';

.carousel {
  margin: -10px -10px 10px;
  padding: 0;
}

.carousel-caption {
  bottom: 6rem;
  z-index: 10;
  background-color: $light-grey;
  color: black;
  opacity: 0.8;
  border-radius: 10px;
  padding: 10px;
}

.carousel-item {
  height: 25rem;
  background-color: $light-grey;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 25rem;
}
