<ngb-carousel *ngIf="images && images.length > 0 && !hide" class="d-none d-lg-block d-lg-block">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Järjestä tapahtumia</h3>
      <p>Tahdotko järjestää häät, mutta kaikki vieraat eivät ole sosiaalisessa mediassa? Ei hätää yhdessa.fi hoitaa homman!</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Haluatko tutustua uusiin ihmisiin?</h3>
      <p>Voit luoda julkisen kutsun ja tavata mitä mielenkiintoisempia tapauksia!</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]"  alt="Random third slide">
    <div class="carousel-caption">
      <h3>Tarvitsetko kyytiä?</h3>
      <p>Yhdessä.fi osaa myös kimppakyydit!</p>
    </div>
  </ng-template>
</ngb-carousel>
