<div class="container main-content">
  <div class="row">
    <div class="col-lg-9 small-padding-right">
      <div class="profile-container">
        <div class="header-container">
          <button class="btn btn-sm btn-outline-primary mb-4" (click)="goBack()">{{'announcement.goBack' | translate}}</button>
          <h6 class="border-bottom border-gray pb-2 mb-2">{{'announcement.title' | translate}}: {{announcement.title}}</h6>
        </div>
        <span class="d-block">
            <small><strong>{{'announcement.user' | translate}}:</strong> {{announcement.user.username}} ({{announcement.createdAt | date: 'dd.MM.yyyy HH.mm'}})</small>
          </span>
        <span class="d-block">
            <small><strong>{{'announcement.time' | translate}}:</strong> {{announcement.startDateTime | date: 'dd.MM.yyyy HH.mm'}} - {{announcement.endDateTime | date: 'dd.MM.yyyy HH.mm'}}</small>
          </span>
        <strong class="d-block mt-3">{{'announcement.message' | translate}}:</strong>
        <pre class="mt-2">{{announcement.message}}</pre>
      </div>
    </div>
    <div class="col-lg-3 small-padding-left">
      <div class="profile-container ">
        <div class="header-container">
          <button class="btn btn-outline-success btn-block mb-2" (click)="attend()" *ngIf="!attended()">Osallistu</button>
          <button class="btn btn-outline-danger btn-block mb-2" (click)="unattend()" *ngIf="attended()">Peruuta osallistuminen</button>
          <hr/>
          <h6 class="mb-2">{{'announcement.attendees.title' | translate}}</h6>
          <div *ngFor="let attender of attendees">
            {{attender.username}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

