<div class="container main-content">
  <ng-adsense [pageLevelAds]="true"></ng-adsense>
  <app-announcement-list [title]="'Omat'" [type]="own" [max]="20" [headerClass]="'fa-user'"></app-announcement-list>
</div>
