<div class="container main-content">
  <ng-adsense [pageLevelAds]="true"></ng-adsense>
  <app-announcement-list [title]="'Tarjotaan'" [type]="offered" [max]="20" [headerClass]="'fa-people-carry'"></app-announcement-list>
</div>
