@import "../../../../colors";

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: $main-color-1;
  color: $white;
  text-align: center;
  opacity: 0.8;
}
