<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{'announcement.modal.header' | translate}}</h4>
  <button type="button" class="close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="type">{{'announcement.modal.type' | translate}}</label>
      <select id="type" formControlName="type" class="browser-default custom-select" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
        <option value="1" [defaultSelected]="true">Tapahtuma</option>
        <option value="2">Tarvitaan</option>
        <option value="3">Tarjotaan</option>
      </select>
      <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
        <div *ngIf="f.type.errors.required">{{'announcement.modal.type.required' | translate}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="title">{{'announcement.modal.title' | translate}} <small>{{f.title.value.length}}/50</small></label>
      <input id="title" type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" (keyup)="limitTitle()" />
      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">{{'announcement.modal.title.required' | translate}}</div>
        <div *ngIf="f.title.errors.maxlength">{{'announcement.modal.title.maxLength' | translate}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="message">{{'announcement.modal.message' | translate}} <small>{{f.message.value.length}}/1000</small></label>
      <textarea id="message" type="text" formControlName="message" class="form-control" rows="10" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" (keyup)="limitMessage()"></textarea>
      <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
        <div *ngIf="f.message.errors.required">{{'announcement.modal.message.required' | translate}}</div>
        <div *ngIf="f.message.errors.maxlength">{{'announcement.modal.message.maxLength' | translate}}</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="startDate">{{'announcement.modal.startDate' | translate}}</label>
        <div class="input-group">
          <input id="startDate" formControlName="startDate" class="form-control" placeholder="vvvv-kk-pp" name="startDate" ngbDatepicker #startDate="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="startDate.toggle()"><i class="fa fa-calendar"></i></button>
          </div>
        </div>
        <div *ngIf="submitted && f.startDate.errors" class="invalid-date-time">
          <div *ngIf="f.startDate.errors.required">{{'announcement.modal.startDate.required' | translate}}</div>
        </div>
      </div>
      <div class="form-group col-6">
        <label for="startTime">{{'announcement.modal.startTime' | translate}}</label>
        <div class="input-group">
          <select id="startTime" formControlName="startTime" class="browser-default custom-select" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
            <option [ngValue]="time" *ngFor="let time of times">{{time}}</option>
          </select>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-clock"></i></span>
          </div>
        </div>
        <div *ngIf="submitted && f.startTime.errors" class="invalid-date-time">
          <div *ngIf="f.startTime.errors.required">{{'announcement.modal.startTime.required' | translate}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="endDate">{{'announcement.modal.endDate' | translate}}</label>
        <div class="input-group">
          <input id="endDate" formControlName="endDate" class="form-control" placeholder="vvvv-kk-pp" name="endDate" ngbDatepicker #endDate="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="endDate.toggle()"><i class="fa fa-calendar"></i></button>
          </div>
        </div>
        <div *ngIf="submitted && f.endDate.errors" class="invalid-date-time">
          <div *ngIf="f.endDate.errors.required">{{'announcement.modal.endDate.required' | translate}}</div>
          <div *ngIf="f.endDate.errors.endBefore">{{'announcement.modal.endBefore' | translate}}</div>
        </div>
      </div>
      <div class="form-group col-6">
        <label for="endTime">{{'announcement.modal.endTime' | translate}}</label>
        <div class="input-group">
          <select id="endTime" formControlName="endTime" class="browser-default custom-select" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
            <option [ngValue]="time" *ngFor="let time of times">{{time}}</option>
          </select>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-clock"></i></span>
          </div>
        </div>
        <div *ngIf="submitted && f.endTime.errors" class="invalid-date-time">
          <div *ngIf="f.endTime.errors.required">{{'announcement.modal.endTime.required' | translate}}</div>
          <div *ngIf="f.endTime.errors.endBefore">{{'announcement.modal.endBefore' | translate}}</div>
        </div>
      </div>
    </div>
    <div class="form-group toggle-group mt-2">
      <label class="mr-2" for="private">{{'announcement.modal.private' | translate}}</label>
      <label id="private" class="switch">
        <input type="checkbox" formControlName="private">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="form-group toggle-group">
      <label class="mr-2" for="invite">{{'announcement.modal.invite' | translate}}</label>
      <label id="invite" class="switch">
        <input type="checkbox" formControlName="invite">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="form-group toggle-group">
      <label class="mr-2" for="accept">{{'announcement.modal.accept' | translate}}</label>
      <label id="accept" class="switch">
        <input type="checkbox" formControlName="accept">
        <span class="slider round"></span>
      </label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="save()">{{'modal.apply' | translate}}</button>
</div>
