<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{'friendrequest.modal.header' | translate}}</h4>
  <button type="button" class="close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="username">{{'friendrequest.username' | translate}}</label>
      <input id="username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': (submitted && f.username.errors) || (f.username.errors && f.username.errors.doesNotExist) }" (keyup)="checkIfUsernameExists()" />
      <div *ngIf="(submitted && f.username.errors) || (f.username.errors && f.username.errors.doesNotExist)" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">{{'friendrequest.username.required' | translate}}</div>
        <div *ngIf="f.username.errors.doesNotExist">{{'friendrequest.username.doesNotExist' | translate}}</div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="save()">{{'friendrequest.modal.send' | translate}}</button>
</div>
