<div class="container main-content">
  <ng-adsense [pageLevelAds]="true"></ng-adsense>
  <app-announcement-list [title]="'Tapahtumat'" [type]="events" [max]="20" [headerClass]="'fa-envelope-open'"></app-announcement-list>
</div>
