img {
  max-width: 100%;
}

.inbox-people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
  height: 693px;
}

.inbox-msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.chat-ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px;
}

.chat-ib h5 span {
  font-size: 13px;
  float: right;
}

.chat-ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}

.chat-img {
  float: left;
  width: 11%;
}

.chat-ib {
  float: left;
  width: 88%;
  padding: 0 0 0 15px;
}

.chat-people {
  overflow: hidden;
  clear: both;
}

.chat-list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
  cursor: pointer;
}

.inbox-chat {
  height: 635px;
  overflow-y: scroll;
}

.active-chat {
  background: #ebebeb;
}

.incoming-msg-img {
  display: inline-block;
  width: 6%;
}

.received-msg {
  display: inline-block;
  vertical-align: top;
  width: 92%;
  padding: 0 0 0 10px;
}

.received-width-msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 5px 10px 5px 12px;
}

.time-date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received-width-msg {
  width: 57%;
}

.messages {
  float: left;
  width: 60%;
  height: 693px;
}

.sent-msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 5px 10px 5px 12px;
}

.outgoing-msg {
  overflow: hidden;
  margin: 26px 0;
}

.sent-msg {
  float: right;
  width: 46%;
}

.type-msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
  padding-right: 10px;
  padding-left: 5px;
}

.msg-history {
  height: 600px;
  overflow-y: scroll;
  padding-right: 10px;
  padding-left: 10px;
}

.input-group-append {
  margin-right: -5px;
}

.sent-msg > .time-date {
  text-align: right;
}

.search {
  padding: 10px 15px 10px 10px;
}

.comment-length {
  text-align: right;
}
