<div class="messaging">
  <div class="inbox-msg">
    <div class="inbox-people">
      <div class="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Etsi..." [(ngModel)]="searchPhrase" (keyup)="filterRecipients()">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <button class="btn btn-outline-success ml-2" (click)="sendFriendRequest()"><i class="fa fa-plus"></i></button>
        </div>
      </div>
      <div class="inbox-chat">
        <div *ngIf="friendshipRequests && friendshipRequests.length > 0">
          <h6 class="p-2">Kaveripyynnöt</h6>
          <div class="chat-list" *ngFor="let friendshipRequest of friendshipRequests">
            <div class="chat-people">
              <div class="chat-img"><img src="https://ptetutorials.com/images/user-profile.png" alt="User image"></div>
              <div class="chat-ib">
                <h5>{{friendshipRequest.user.username}}
                  <span class="chat-date">
                    <button class="btn btn-outline-success btn-sm mr-1" (click)="acceptRequest(friendshipRequest)"><i class="fa fa-check"></i></button>
                    <button class="btn btn-outline-danger btn-sm" (click)="rejectRequest(friendshipRequest)"><i class="fa fa-ban"></i></button>
                  </span>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <h6 class="p-2">Kaverit</h6>
        <div class="chat-list" [ngClass]="{'active-chat': this.selectedRecipient.id === recipient.id}" *ngFor="let recipient of recipients" (click)="changeRecipient(recipient)">
          <div class="chat-people">
            <div class="chat-img"><img src="https://ptetutorials.com/images/user-profile.png" alt="User image"></div>
            <div class="chat-ib">
              <h5>{{recipient.username}} <span class="chat-date">Dec 25</span></h5>
              <p>{{getLastMessageSummary(recipient)}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="messages py-3">
      <div class="msg-history" #scrollMe detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="10">
        <div *ngFor="let message of messages">
          <div class="incoming-msg" *ngIf="message.fromId !== currentUser.id">
            <div class="incoming-msg-img"><img src="https://ptetutorials.com/images/user-profile.png" alt="User image"></div>
            <div class="received-msg">
              <div class="received-width-msg">
                <p>{{message.content}}</p>
                <span class="time-date" >{{message.createdAt | date: 'HH.mm.ss dd.MM.yyyy'}} <i class="fa fa-check" *ngIf="message.read"></i></span>
              </div>
            </div>
          </div>
          <div class="outgoing-msg" *ngIf="message.fromId === currentUser.id">
            <div class="sent-msg">
              <p>{{message.content}}</p>
              <span class="time-date">{{message.createdAt | date: 'HH.mm.ss dd.MM.yyyy'}} <i class="fa fa-check" *ngIf="message.read"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="type-msg pt-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Kirjoita viesti..." [(ngModel)]="writtenMessage">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" (click)="sendMessage()"><i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
        <small class="mt-1 d-block comment-length">{{writtenMessage.length}}/1000</small>
      </div>
    </div>
  </div>
</div>
