<div class="register-container pt-2">
  <div class="header-container">
    <h3 class="mb-0">{{'register.title' | translate}}</h3>
  </div>
  <form class="mt-5" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">{{'register.username' | translate}}</label>
      <input id="username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': (submitted && f.username.errors) || (f.username.errors && f.username.errors.exists) }" (keyup)="checkIfUsernameExists()" />
      <div *ngIf="(submitted && f.username.errors) || (f.username.errors && f.username.errors.exists)" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">{{'register.username.required' | translate}}</div>
        <div *ngIf="f.username.errors.minlength">{{'register.username.minLength' | translate}}</div>
        <div *ngIf="f.username.errors.maxlength">{{'register.username.maxLength' | translate}}</div>
        <div *ngIf="f.username.errors.pattern">{{'register.username.pattern' | translate}}</div>
        <div *ngIf="f.username.errors.exists">{{'register.username.exists' | translate}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="firstName">{{'register.firstName' | translate}}</label>
      <input id="firstName" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">{{'register.firstName.required' | translate}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">{{'register.lastName' | translate}}</label>
      <input id="lastName" type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">{{'register.lastName.required' | translate}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">{{'register.email' | translate}}</label>
      <input id="email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">{{'register.email.required' | translate}}</div>
        <div *ngIf="f.email.errors.email">{{'register.email.error' | translate}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="phone">{{'register.phone' | translate}}</label>
      <input id="phone" type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
      <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
        <div *ngIf="f.phone.errors.pattern">{{'register.phone.pattern' | translate}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">{{'register.password' | translate}}</label>
      <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">{{'register.password.required' | translate}}</div>
        <div *ngIf="f.password.errors.minlength">{{'register.password.minlength' | translate}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password-again">{{'register.password.again' | translate}}</label>
      <input id="password-again" type="password" formControlName="passwordAgain" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.passwordAgain.errors }" />
      <div *ngIf="submitted && f.passwordAgain.errors" class="invalid-feedback">
        <div *ngIf="f.passwordAgain.errors.required">{{'register.password.again.required' | translate}}</div>
        <div *ngIf="f.passwordAgain.errors.mustMatch">{{'register.password.mustMatch' | translate}}</div>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-outline-primary">{{'register.register' | translate}}</button>
    </div>
  </form>
</div>
