@import '../../../../_colors.scss';

.register-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: $white;
  padding: 20px;
}

.header-container {
  text-align: center;
  margin-top: 10px;
}
