@import '~lato-font/css/lato-font.css';
@import '~ngx-toastr/toastr.css';
@import '../_colors';
@import '../_reset';

body, html {
  height: 100%;
}

body {
  min-height: 100%;
  background: url('assets/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif !important;
}

@media (min-width: 1200px) {
  .container{
    max-width: 1600px !important;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 935px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  main {
    padding-top: 5px !important;
  }
}

.toast-container.toast-top-center .ngx-toastr, .toast-container.toast-bottom-center .ngx-toastr {
  width: 700px;
}

pre {
  white-space: pre-wrap;
  font-family: 'Lato', sans-serif !important;
}

.card {
  padding-bottom: 1px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-group {
  line-height: 35px;
}
