<ngx-spinner></ngx-spinner>

<app-header></app-header>

<main role="main" class="container">
  <app-carousel [hide]="hideCarousel"></app-carousel>
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>
