@import "../../../../colors";

.navbar {
  background-color: $main-color-1;
}

a.nav-link.active-link {
  color: $white;
}

.navbar-logo {
  margin-top: -10px;
}

.logout-link {
  cursor: pointer;
}

@media (max-width: 992px) {
  .nav-item {
    padding-left: 0;
  }

  ul.navbar-nav {
    text-align: right;
  }

  .navbar-collapse {
    padding-top: 10px;
  }
}
