<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand mr-5" routerLink="/home" (click)="closeNavbar()">
    <i class="fa fa-kiwi-bird"></i> Yhdessä.fi
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-3">
        <a class="nav-link" routerLink="/etusivu" routerLinkActive="active-link" (click)="closeNavbar()"><i class="fa fa-home"></i> {{'navbar.link.frontpage' | translate}}</a>
      </li>
      <li class="nav-item mr-3" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/omat" routerLinkActive="active-link" (click)="closeNavbar()"><i class="fa fa-user"></i> {{'navbar.link.myown' | translate}}</a>
      </li>
      <li class="nav-item mr-3" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/tapahtumat" routerLinkActive="active-link" (click)="closeNavbar()"><i class="fa fa-envelope-open-text"></i> {{'navbar.link.events' | translate}}</a>
      </li>
      <li class="nav-item mr-3" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/tarjotaan" routerLinkActive="active-link" (click)="closeNavbar()"><i class="fa fa-people-carry"></i> {{'navbar.link.offered' | translate}}</a>
      </li>
      <li class="nav-item mr-3" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/tarvitaan" routerLinkActive="active-link" (click)="closeNavbar()"><i class="fa fa-exclamation"></i> {{'navbar.link.needed' | translate}}</a>
      </li>
      <li class="nav-item mr-3" *ngIf="isLoggedIn">
        <button class="btn btn-outline-success" (click)="closeNavbar(); createNew()"><i class="fa fa-plus"></i> {{'navbar.link.new' | translate}}</button>
      </li>
    </ul>
    <hr />
    <ul class="navbar-nav" *ngIf="!isLoggedIn">
      <li class="nav-item logout-link">
        <a class="nav-link" routerLink="/rekisteroidy" (click)="closeNavbar()"><i class="fa fa-user-plus"></i> {{'navbar.link.register' | translate}}</a>
      </li>
      <li class="nav-item logout-link">
        <a class="nav-link" routerLink="/kirjaudu" (click)="closeNavbar()"><i class="fa fa-sign-in-alt"></i> {{'navbar.link.login' | translate}}</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="isLoggedIn">
      <li class="nav-item mr-3">
        <a class="nav-link" routerLink="/profiili" routerLinkActive="active-link" (click)="closeNavbar()"><i class="fa fa-user"></i> {{fullName}} <span *ngIf="unreadMessagesCount > 0">({{unreadMessagesCount}})</span></a>
      </li>
      <li class="nav-item mr-3 logout-link">
        <a class="nav-link" (click)="logout()"><i class="fa fa-sign-out-alt"></i> {{'navbar.link.logout' | translate}}</a>
      </li>
    </ul>
  </div>
</nav>
