<div class="container main-content">
  <ng-adsense [pageLevelAds]="true"></ng-adsense>
  <app-announcement-list [title]="'Tarvitaan'" [type]="needed" [max]="20" [headerClass]="'fa-exclamation'"></app-announcement-list>
</div>
