<div class="login-container pt-2">
  <div class="header-container">
    <h3 class="mb-0">{{'login.title' | translate}}</h3>
  </div>
  <form class="mt-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">{{'login.username' | translate}}</label>
      <input id="username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">{{'login.username.required' | translate}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">{{'login.password' | translate}}</label>
      <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">{{'login.password.required' | translate}}</div>
      </div>
    </div>
    <div class="form-group">
      {{'login.register' | translate}} <a routerLink="/rekisteroidy">{{'login.here' | translate}}.</a>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-outline-primary">{{'login.login' | translate}}</button>
    </div>
  </form>
</div>
