<div class="container main-content">
  <ng-adsense [pageLevelAds]="true"></ng-adsense>

  <app-announcement-list [title]="'Omat'" [type]="own" [max]="5" [headerClass]="'fa-user'" *ngIf="isLoggedIn" [showShowAll]="true" [enableAutoLoadMore]="false"></app-announcement-list>
  <app-announcement-list [title]="'Tapahtumat'" [type]="events" [max]="5" [headerClass]="'fa-envelope-open'" [showShowAll]="true" [enableAutoLoadMore]="false"></app-announcement-list>
  <app-announcement-list [title]="'Tarjotaan'" [type]="offered" [max]="5" [headerClass]="'fa-people-carry'" [showShowAll]="true" [enableAutoLoadMore]="false"></app-announcement-list>
  <app-announcement-list [title]="'Tarvitaan'" [type]="needed" [max]="5" [headerClass]="'fa-exclamation'" [showShowAll]="true" [enableAutoLoadMore]="false"></app-announcement-list>
</div>
