<div class="container main-content">
  <div class="row">
    <div class="col-lg-5 small-padding-right">
      <div class="profile-container">
        <div class="header-container">
          <h4 class="mb-0">{{'profile.title' | translate}}</h4>
        </div>
        <form class="mt-5" [formGroup]="profileForm" (ngSubmit)="onSubmit()" *ngIf="profileForm">
          <div class="form-group">
            <label for="username">{{'profile.username' | translate}}</label>
            <input id="username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">{{'profile.username.required' | translate}}</div>
              <div *ngIf="f.username.errors.minlength">{{'profile.username.minLength' | translate}}</div>
              <div *ngIf="f.username.errors.maxlength">{{'profile.username.maxLength' | translate}}</div>
              <div *ngIf="f.username.errors.pattern">{{'profile.username.pattern' | translate}}</div>
            </div>
          </div>
          <div class="form-group">
            <label for="firstName">{{'profile.firstName' | translate}}</label>
            <input id="firstName" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">{{'profile.firstName.required' | translate}}</div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">{{'profile.lastName' | translate}}</label>
            <input id="lastName" type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">{{'profile.lastName.required' | translate}}</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">{{'profile.email' | translate}}</label>
            <input id="email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">{{'profile.email.required' | translate}}</div>
              <div *ngIf="f.email.errors.email">{{'profile.email.error' | translate}}</div>
            </div>
          </div>
          <div class="form-group">
            <label for="phone">{{'profile.phone' | translate}}</label>
            <input id="phone" type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
              <div *ngIf="f.phone.errors.pattern">{{'profile.phone.pattern' | translate}}</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">{{'profile.password' | translate}}</label>
            <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">{{'profile.password.required' | translate}}</div>
              <div *ngIf="f.password.errors.minlength">{{'profile.password.minlength' | translate}}</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password-again">{{'profile.password.again' | translate}}</label>
            <input id="password-again" type="password" formControlName="passwordAgain" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.passwordAgain.errors }" />
            <div *ngIf="submitted && f.passwordAgain.errors" class="invalid-feedback">
              <div *ngIf="f.passwordAgain.errors.required">{{'profile.password.again.required' | translate}}</div>
              <div *ngIf="f.passwordAgain.errors.mustMatch">{{'profile.password.mustMatch' | translate}}</div>
            </div>
          </div>

          <div class="form-group">
            <button [disabled]="loading" class="btn btn-outline-primary">{{'profile.save' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-7 small-padding-left">
      <div class="profile-container ">
        <div class="header-container">
          <h4 class="mb-2">{{'chat.title' | translate}}</h4>
        </div>
        <app-chat></app-chat>
      </div>
    </div>
  </div>
</div>
