@import '../../../../_colors.scss';

.profile-container {
  background-color: $white;
  padding: 20px;
}

.header-container {
  text-align: center;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.main-content {
  background-color: $main-color-1;
  padding: 10px;
}

.small-padding-right {
  padding-right: 5px !important;
}

.small-padding-left {
  padding-left: 5px !important;
}
