<div class="my-3 p-3 bg-white rounded box-shadow" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <h6 class="border-bottom border-gray pb-2 mb-2"><i class="fa" [ngClass]="headerClass"></i> <span class="ml-2">{{title}}</span></h6>
  <ngb-accordion [closeOthers]="true">
    <ngb-panel *ngFor="let announcement of announcements" >
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="d-flex align-items-center justify-content-between">
          <span>
            <small>Ilmoitettu: {{announcement.createdAt | date: 'dd.MM.yyyy HH.mm'}} &#8210; {{announcement.user.username}}</small><br/>
            <strong class="announcment-title">{{announcement.title}}</strong>
          </span>
          <button ngbPanelToggle class="btn btn-sm btn-outline-primary btn-more">{{opened ? ('announcement.list.read.less' | translate) : ('announcement.list.read.more' | translate)}}</button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <span class="d-block">
          <small><strong>Ilmoittaja:</strong> {{announcement.user.username}}</small>
        </span>
        <span class="d-block">
          <small><strong>Aika:</strong> {{announcement.startDateTime | date: 'dd.MM.yyyy HH.mm'}} - {{announcement.endDateTime | date: 'dd.MM.yyyy HH.mm'}}</small>
        </span>
        <strong class="d-block mt-3">Viesti:</strong>
        <pre class="mt-2">{{announcement.message}}</pre>
        <small class="d-block text-right mt-3">
          <button class="btn btn-sm btn-outline-success" (click)="open(announcement.identifier)"><i class="fa fa-book-open"></i> {{ 'announcement.list.open' | translate }}</button>
        </small>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div class="d-block text-right mt-3" *ngIf="showShowAll">
    <button class="btn btn-sm btn-outline-success" (click)="showAll()"><i class="fa fa-plus"></i> {{ 'announcement.list.show.all' | translate }}</button>
  </div>
</div>
